# Editor temporary files
.*.swp

# Virtual environment
env/

# Jupyter temporary directory
.ipynb_checkpoints/

# User created monolithic app job input file derived from template
test/monolithic_app/cwl_job_input.yml

# Output from process.ipynb and test scripts
test/process_results/

# Unity App Generator file
.unity_app_gen
